* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  width: 100%;
  background-color: #252c40;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.cabecalho {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  /* width: 100%; */
  background-color: black;
  color: #aeb1c2;
  font-family: "Girassol", cursive;
}
.apod:nth-child(0n + 1) {
  color: red;
}

.cabecalho ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 30%;
  align-items: center;
}
#audio {
  width: 250px;
}
.corpo {
  display: flex;
  justify-content: space-evenly;
  height: calc(100%- (70px+50px));
  width: 100%;
}
.caixa_botoes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  margin-top: 40px;
}
#date {
  width: 25%;
  background-color: #aeb1c2;
  color: #252c40;
  text-align: center;
  border-radius: 5px;
}
.caixa_enviar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}
#enviar {
  margin-top: 10px;
  width: 80%;
  height: 30px;
  border-radius: 10px;
  color: orange;
  background-color: black;
  box-shadow: red 10px 10px 10px;
  font-family: "Girassol", cursive;
  font-weight: bold;
  font-size: 20px;
}

.texto_entrada {
  margin-top: 20px;
  font-size: 20px;
  color: #aeb1c2;
  font-family: "Girassol", cursive;
}
#foto_entrada {
  width: 500px;
  height: 400px;
  border-radius: 50px;
}

.informacoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#titulo {
  font-family: "Girassol", cursive;
  color: #859ca6;
  margin-top: 10px;
}
#texto {
  font-size: 20px;
  color: #aeb1c2;
}
#foto {
  width: 500px;
  height: 400px;
  border-radius: 50px;
  display: none;
}
.rodape {
  height: 50px;
  /* width: 100%; */
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aeb1c2;
}

@media (max-width: 700px) {
  .caixa_enviar {
    width: 100%;
    height: 100%;
  }
  #date {
    width: 100%;
    height: 100%;
  }
  .corpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  #audio {
    display: none;
  }
}
